---
name: Update docs

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - release-please--branches--main

permissions: read-all

jobs:
  docs:
    # update docs after merge back to develop
    name: Auto update terraform docs
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout branch
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4 # ratchet:actions/checkout@v3
      - name: Generate TF docs
        uses: terraform-docs/gh-actions@7a62208a0090636af2df1b739da46d27fd90bdc6 # v1.1.0
        with:
          find-dir: .
          git-commit-message: "docs: auto update terraform docs"
          git-push: true
